@model sistemaVeterinario.Models.Consulta

@{
    ViewData["Title"] = "Editar Consulta";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 m-0 font-weight-bold text-primary text-center">Editar Consulta</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdConsulta" />
                    <div class="form-group mb-3">
                        <label asp-for="FechaConsulta" class="control-label"></label>
                        <input asp-for="FechaConsulta" type="date" class="form-control" />
                        <span asp-validation-for="FechaConsulta" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Motivo" class="control-label"></label>
                        <input asp-for="Motivo" class="form-control" />
                        <span asp-validation-for="Motivo" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Diagnostico" class="control-label"></label>
                        <input asp-for="Diagnostico" class="form-control" />
                        <span asp-validation-for="Diagnostico" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="IdMascota" class="control-label">Mascota</label>
                        <select asp-for="IdMascota" class="form-control" asp-items="ViewBag.IdMascota">
                            <option value="" disabled>-- Selecciona una Mascota --</option>
                        </select>
                        <span asp-validation-for="IdMascota" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="IdUsuario" class="control-label">Veterinari@@</label>
                        <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario">
                            <option value="" disabled>-- Selecciona un Veterinari@@ --</option>
                        </select>
                        <span asp-validation-for="IdUsuario" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="IdEstadoConsulta" class="control-label">Estado Consulta</label>
                        <select asp-for="IdEstadoConsulta" class="form-control" asp-items="ViewBag.IdEstadoConsulta">
                            <option value="" disabled>-- Selecciona un Estado --</option>
                        </select>
                        <span asp-validation-for="IdEstadoConsulta" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4 text-center">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary ms-2">Volver a la lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('formConsultaEdit').addEventListener('submit', function (event) {
            event.preventDefault();

            document.querySelectorAll('#formConsultaEdit .form-control').forEach((item) => {

                if (item.value.trim() === ''){
                    item.classList.add('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">Campo Obligatorio!</span>';

                    // Diagnostico puede estar vacio...
                    if(item.id === 'Diagnostico'){
                        item.classList.remove('is-invalid');
                        document.getElementById(`e-${item.id}`).innerHTML = '';
                    }
                } else {
                    item.classList.remove('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '';
                    item.classList.add('is-valid');
                }
            });

            if (document.querySelectorAll('.is-invalid').length === 0){
                event.target.submit();
            }
        });
    </script>
}