@model sistemaVeterinario.Models.Mascota

@{
    ViewData["Title"] = "Registrar Mascota";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 m-0 font-weight-bold text-primary text-center">Registrar Mascota</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Sexo" class="control-label"></label>
                        <input asp-for="Sexo" class="form-control" />
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Edad" class="control-label"></label>
                        <input asp-for="Edad" class="form-control" />
                        <span asp-validation-for="Edad" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="IdCliente" class="control-label"></label>
                        <select asp-for="IdCliente" class ="form-control" asp-items="ViewBag.IdCliente"></select>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="IdEspecie" class="control-label"></label>
                        <select asp-for="IdEspecie" class ="form-control" asp-items="ViewBag.IdEspecie"></select>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="IdRaza" class="control-label"></label>
                        <select asp-for="IdRaza" class ="form-control" asp-items="ViewBag.IdRaza"></select>
                    </div>
                    <div class="form-group mt-4 text-center">
                        <input type="submit" value="Crear" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary ms-2">Volver a la lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@

    <script src="~/js/validaciones.js"></script>

    <script>
        const formCreateMascota = document.getElementById('formMascota');
        formCreateMascota.addEventListener('submit', (e) => {
            validarFormMascota(e);
        });

        const validarFormMascota = async (evt) => {
            const inputs = document.querySelectorAll('#formMascota .form-control');

            for (const item of inputs){
                if (item.value.trim() === ''){
                    item.classList.add('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML= '<span class="badge bg-danger">Campo Obligatorio!</span>';
                } else {
                    item.classList.remove('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML= '';

                    item.classList.add('is-valid');
                }
            }

            if (document.querySelectorAll('.is-invalid').length > 0){
                evt.preventDefault();
            }
        };

    </script>
}
