@model sistemaVeterinario.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 m-0 font-weight-bold text-primary text-center">Registrar Usuario</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="IdEstadoUsuario" class="control-label">Estado de Usuario</label>
                        <select asp-for="IdEstadoUsuario" class ="form-control" asp-items="ViewBag.IdEstadoUsuario">
                            <option value="" disabled selected>-- Selecciona un Estado --</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="IdRol" class="control-label">Rol</label>
                        <select asp-for="IdRol" class ="form-control" asp-items="ViewBag.IdRol">
                            <option value="" disabled selected>-- Selecciona un Rol --</option>
                        </select>
                    </div>
                    <div class="form-group mt-4 text-center">
                        <input type="submit" value="Crear" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary ms-2">Volver a la lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
    <script src="~/js/validaciones.js"></script>
    <script>
        const verificarEmailDB= async (email) => {
            const url = `@Url.Action("UsuarioEmailExists", "Usuarios")?email=${email}`;
            const response = await fetch(url);
            return await response.json(); // retorna promesa con true o false.
        }

        const formCreateUsuario = document.getElementById('formUsuarioCreate');
        formCreateUsuario.addEventListener('submit', async (event) => {
            await validarFormUsuario(event); 
        });

        const validarFormUsuario = async (evt) => {
            evt.preventDefault();

            const inputs = document.querySelectorAll('#formUsuarioCreate .form-control');

            for (const item of inputs) {
                if (item.value.trim() === ''){
                    item.classList.add('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">Campo Obligatorio!</span>';
                } else {
                    item.classList.remove('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '';

                    if (item.id === "Email"){
                        if (!Validaciones.validarEmail(item.value)){
                            item.classList.add('is-invalid');
                            document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">Formato Email incorrecto</span>';
                        }
                        if (await verificarEmailDB(item.value)){
                            item.classList.add('is-invalid');
                            document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">El Email ya se encuentra registrado!</span>';
                        }
                    }
                    if (item.id === "Password"){
                        if (item.value.length < 8 ){
                            item.classList.add('is-invalid');
                            document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">La Password debe tener al menos 8 caracteres!</span>';
                        }
                    }

                    item.classList.add('is-valid');
                }
            }
            if (document.querySelectorAll('.is-invalid').length === 0) {
                // evt.preventDefault();
                formCreateUsuario.submit();
            }
        }
    </script>
}
