@model sistemaVeterinario.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="formUsuarioEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsuario" />
            <div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                <select asp-for="IdRol" class="form-control" asp-items="ViewBag.IdRol"></select>
                <span id="e-IdRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoUsuario" class="control-label"></label>
                <select asp-for="IdEstadoUsuario" class="form-control" asp-items="ViewBag.IdEstadoUsuario"></select>
                <span id="e-IdEstadoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span id="e-Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span id="e-Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* TODO: Implementar lógica para actualización opcional de contraseña.
                    Si el campo se deja vacío, no se debe actualizar la contraseña en la base de datos.
                    Esto requerirá un ViewModel y lógica adicional en el controlador. *@
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span id="e-Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
    <script src="~/js/validaciones.js"></script>
    <script>
        const verificarEmailDB = async (email, userId) => {
            let url = `@Url.Action("UsuarioEmailExists", "Usuarios")?email=${email}`;
            if (userId) {
                url += `&id=${userId}`;
            }
            const response = await fetch(url);
            return await response.json();
        }

        const formEditUsuario = document.getElementById('formUsuarioEdit');
        formEditUsuario.addEventListener('submit', async (event) => {
            const userId = document.getElementById('IdUsuario').value;
            await validarFormUsuario(event, userId); 
        });

        const validarFormUsuario = async (evt, userId = null) => {
            evt.preventDefault();

            const inputs = document.querySelectorAll('#formUsuarioEdit .form-control');

            for (const item of inputs) {
                if (item.value.trim() === ''){
                    item.classList.add('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">Campo Obligatorio!</span>';
                } else {
                    item.classList.remove('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '';

                    if (item.id === "Email"){
                        if (!Validaciones.validarEmail(item.value)){
                            item.classList.add('is-invalid');
                            document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">Formato Email incorrecto</span>';
                        }
                        if (await verificarEmailDB(item.value, userId)){
                            item.classList.add('is-invalid');
                            document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">El Email ya se encuentra registrado!</span>';
                        }
                    }
                    if (item.id === "Password"){
                        if (item.value.length < 8 ){
                            item.classList.add('is-invalid');
                            document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">La Password debe tener al menos 8 caracteres!</span>';
                        }
                    }

                    item.classList.add('is-valid');
                }
            }
            if (document.querySelectorAll('.is-invalid').length === 0) {
                formEditUsuario.submit();
            }
        }
    </script>
}
