@model sistemaVeterinario.Models.Role

@{
    ViewData["Title"] = "Crear Rol";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 m-0 font-weight-bold text-primary text-center">Crear Nuevo Rol</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="NombreRol" class="control-label">Nombre Rol</label>
                        <input asp-for="NombreRol" class="form-control" />
                        <span asp-validation-for="NombreRol" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4 text-center">
                        <input type="submit" value="Crear" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary ms-2">Volver a la lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('formRolCreate').addEventListener('submit', (event) => {
            event.preventDefault();

            document.querySelectorAll('#formRolCreate .form-control').forEach((item) => {

                if (item.value.trim() === ''){
                    item.classList.add('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">Campo Obligatorio!</span>';
                } else {
                    item.classList.remove('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '';
                    item.classList.add('is-valid');
                }
            })

            if (document.querySelectorAll('.is-invalid').length === 0) {
                event.target.submit();
            }
        });
    </script>
}