@model sistemaVeterinario.Models.Role

@{
    ViewData["Title"] = "Editar Rol";
}

<h1>Editar Rol</h1>

<h4>Rol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="formRolEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRol" />
            <div class="form-group">
                <label asp-for="NombreRol" class="control-label">Nombre del Rol</label>
                <input asp-for="NombreRol" class="form-control" />
                <span id="e-NombreRol" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    <script>
        document.getElementById('formRolEdit').addEventListener('submit', (event) => {
            event.preventDefault();

            document.querySelectorAll('#formRolEdit .form-control').forEach((item) => {

                if (item.value.trim() === ''){
                    item.classList.add('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">Campo Obligatorio!</span>';
                } else {
                    item.classList.remove('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '';
                    item.classList.add('is-valid');
                }
            })

            if (document.querySelectorAll('.is-invalid').length === 0) {
                event.target.submit();
            }
        });
    </script>
}