/* Custom styles for the login form */

.ftco-section {
    padding: 7em 0;
}

.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.img {
    width: 75%; /* Give the image container a width */
    min-height: 550px; /* Ensure the container has a minimum height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.login-wrap {
    position: relative;
    background: #fff;
}

.login-wrap h3 {
    font-weight: 300;
    margin-bottom: 25px;
}

.social-media {
    position: relative;
    width: 100%;
}

.social-media .social-icon {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.social-media .social-icon span {
    color: #000;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-group .label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
}

.form-control {
    height: 48px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
}

.checkbox-wrap:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-wrap input:checked ~ .checkmark {
    background-color: #6366f1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-wrap .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn.btn-primary {
    background: #6366f1 !important;
    color: #fff !important;
    border-color: #6366f1 !important;
}

.btn.btn-primary:hover {
    background: #5255d6 !important;
    border-color: #5255d6 !important;
}

.btn.btn-primary.active, .btn.btn-primary:focus {
    background: #5255d6 !important;
    border-color: #5255d6 !important;
}

.text-md-right {
    text-align: right !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-md-5 {
    padding: 3rem !important;
}

.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .d-md-flex {
        display: flex !important;
        align-items: center !important;
    }

    .text-md-right {
        text-align: right !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
