@model sistemaVeterinario.Models.Tratamiento

@{
    ViewData["Title"] = "Crear Tratamiento";
}

<h1>Crear Tratamiento</h1>

<h4>Tratamiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="formTratamientoCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdConsulta" class="control-label">Consulta</label>
                <select asp-for="IdConsulta" class ="form-control" asp-items="ViewBag.IdConsulta">
                    <option value="">-- Seleccionar Consulta --</option>
                </select>
                <span id="e-IdConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span id="e-Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicamento" class="control-label"></label>
                <input asp-for="Medicamento" class="form-control" />
                <span id="e-Medicamento" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    <script>
        document.getElementById('formTratamientoCreate').addEventListener('submit', (event) => {
            event.preventDefault();

            document.querySelectorAll('#formTratamientoCreate .form-control').forEach((item) => {
                if (item.value.trim() == ''){
                    item.classList.add('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">Campo Obligatorio!</span>';

                } else {
                    item.classList.remove('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '';
                    item.classList.add('is-valid');
                }
            });

            if (document.querySelectorAll('.is-invalid').length === 0){
                event.target.submit();
            }
        });
    </script>
}