@model sistemaVeterinario.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 m-0 font-weight-bold text-primary text-center">Registrar Cliente</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <form asp-action="Create" id="formCliente">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Run" class="control-label"></label>
                        <input asp-for="Run" class="form-control" />
                        <span id="e-Run" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span id="e-Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" onkeypress="return Validaciones.soloNumeros(event)" />
                        <span id="e-Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span id="e-Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span id="e-Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4 text-center">
                        <input type="submit" value="Crear" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary ms-2">Volver a la lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
    <script src="~/js/validaciones.js"></script>

    <script>
        const verificarRunDB = async (run) => {
            const url = `@Url.Action("ClienteRunExists", "Clientes")?run=${run}`;
            const response = await fetch(url);
            return await response.json(); // retorna promesa con true o false.
        }

        const verificarEmailDB = async (email) => {
            const url = `@Url.Action("ClienteEmailExists", "Clientes")?email=${email}`;
            const response = await fetch(url);
            return await response.json(); // retorna promesa con true o false.
        }

        const formCliente = document.getElementById('formCliente');
        formCliente.addEventListener('submit', async (event) => {
            await validarFormCliente(event);
        });

        const validarFormCliente = async (evt) => {

            const inputs = document.querySelectorAll('#formCliente .form-control');

            for (const item of inputs){
                if(item.value.trim() === ''){
                    item.classList.add('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">Campo Obligatorio</span>';
                } else {
                    item.classList.remove('is-invalid');
                    document.getElementById(`e-${item.id}`).innerHTML = '';

                    if(item.id === "Email"){
                        if(!Validaciones.validarEmail(item.value))
                        {
                            item.classList.add('is-invalid');
                            document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">Formato Email incorrecto!</span>';
                        }
                        if(await verificarEmailDB(item.value)) 
                        {
                            item.classList.add('is-invalid');
                            document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">El Email ya se encuentra registrado!</span>';
                        }
                    }
                    if(item.id === "Run"){
                        if(!Validaciones.validarRun(item.value))
                        {
                            item.classList.add('is-invalid');
                            document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">El Run no es valido!</span>';
                        }
                        if(await verificarRunDB(item.value)) 
                        {
                            item.classList.add('is-invalid');
                            document.getElementById(`e-${item.id}`).innerHTML = '<span class="badge bg-danger">El Run ya se encuentra registrado!</span>';
                        }
                    }

                    item.classList.add('is-valid');
                }
            }

            if(document.querySelectorAll('.is-invalid').length > 0 ) 
            {
                evt.preventDefault();
            }
        }

    </script>
}
